Options +FollowSymLinks
Options -Indexes
RewriteEngine On
IndexIgnore *

<FilesMatch "\.(data)$">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]