@import "./themes/light.scss";
@import "./themes/dark.scss";

@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/fab/mdc-fab";
@import "@material/top-app-bar/mdc-top-app-bar";

.mdc-text-field {
    @include mdc-text-field-ink-color(var(--mdc-theme-text-primary-on-background, #343434));
    @include mdc-text-field-label-color(var(--mdc-theme-text-primary-on-background, #343434));

    input, textarea {
        background-color: var(--mdc-theme-background, #fff);
    }
}


/* ---------------------------------------------------------
    Reset 
--------------------------------------------------------- */

*:focus {
    outline: none;
}

* {
    font-family: 'Exo 2', Roboto, sans-serif !important;
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;

    &:hover {
        background: none;
    }
}

.mdc-list-item__meta {
    fill: var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

.mdc-text-field__icon {
    fill: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}


/* ---------------------------------------------------------
    Styling 
--------------------------------------------------------- */

html, body {
    background-color: var(--mdc-theme-background, #fff);
}

main {
    padding: 16px;
    max-width: 1280px;
    margin: 0 auto;
}

@media (min-width: 1025px) {
  
    main {
        width: 70%
    }
    
}

.mdc-fab {
    position: absolute;
    bottom: 34px;
    right: 40px;
    z-index: 5000;
}

#goal-listing li a.completed {
    color: #cddc39;
}

#goal-listing li a:nth-child(2) {
    color: var(--mdc-theme-text-primary-on-background, #343434);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#description-input {
    width: 100%;
    height: 200px;
    margin-bottom: 24px;
}