@import "./themes/light.scss";
@import "./themes/dark.scss";

@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/fab/mdc-fab";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";

.mdc-text-field {
    @include mdc-text-field-ink-color(var(--mdc-theme-text-primary-on-background, #343434));
    @include mdc-text-field-label-color(var(--mdc-theme-text-primary-on-background, #343434));

    input, textarea {
        background-color: var(--mdc-theme-background, #fff);
    }
}

.mdc-top-app-bar .mdc-tab-bar {
    @include mdc-tab-bar-width(auto);
    @include mdc-tab-text-label-color(var(--mdc-theme-on-primary, rgba(255, 255, 255, 0.87)));
    @include mdc-tab-icon-color(var(--mdc-theme-on-primary, rgba(255, 255, 255, 0.87)));

    .mdc-tab-indicator {
        @include mdc-tab-indicator-underline-color(var(--mdc-theme-on-primary, rgba(255, 255, 255, 0.87)));
    }
}

.mdc-top-app-bar__tabrow .mdc-top-app-bar__section {
    align-items: flex-end;
    padding: 0;
}


/* ---------------------------------------------------------
    Reset 
--------------------------------------------------------- */

*:focus {
    outline: none;
}

* {
    font-family: 'Exo 2', Roboto, sans-serif !important;
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;

    &:hover {
        background: none;
    }
}

fieldset {
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

.mdc-list-item__meta {
    fill: var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

.mdc-text-field__icon {
    fill: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}


/* ---------------------------------------------------------
    Styling 
--------------------------------------------------------- */

::-webkit-scrollbar {
    height: 16px;
    width: 16px;
    overflow: visible;
}

::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    min-height: 28px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px inset, rgba(0, 0, 0, 0.07) 0px -1px 0px inset;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-width: 1px 1px 1px 6px;
    padding: 100px 0px 0px;
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-width: 0px 0px 0px 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(218, 220, 224);
    box-shadow: none;
    border-style: solid;
    border-color: transparent;
    border-width: 4px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #80868B;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    margin: 0px 4px;
}


html, body {
    background-color: var(--mdc-theme-background, #fff);
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

.mdc-top-app-bar {
    position: relative;
}

#app {
    overflow: auto;
}

main {
    padding: 16px;
    max-width: 1280px;
    margin: 0 auto;
}

@media (min-width: 1025px) {
  
    main {
        width: 70%
    }
    
}

.overdue {
    color: var(--mdc-theme-error, #f44336);
    fill: var(--mdc-theme-error, #f44336);
}

.mdc-fab {
    position: absolute;
    bottom: 34px;
    right: 40px;
    z-index: 5000;
}

.target-listing li a.completed {
    color: #cddc39;
}

.target-listing li a:nth-child(2) {
    color: var(--mdc-theme-text-primary-on-background, #343434);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#description-input {
    width: 100%;
    height: 200px;
    margin-bottom: 24px;
}

#tasks-fields {
    display: grid;
    grid-row-gap: 24px;
}

// login page

section#login {
    max-width: 400px;
    margin: auto;
    padding: 16px;
    margin-top: 32px;

    form {
        display: grid;
    }

    .mdc-text-field {
        margin: 16px 0;
    }

    button[type='submit'] {
        margin-top: 32px;
    }
}

#triangle {
    background: linear-gradient(to right, #94103e, #db004d);
    display: block;
    height: 1400px;
    left: 0;
    top: 50%;
    position: absolute;
    width: 100%;
    z-index: 0;
    transform: skewY(36deg);
    transform-origin: bottom left;
}