@font-face {
    font-family: 'Metropolis';
    src: url('/resources/fonts/metropolis/Metropolis-Regular.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Extra';
    src: url('/resources/fonts/metropolis/Metropolis-ExtraBoldItalic.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis Extra';
    src: url('/resources/fonts/metropolis/Metropolis-ExtraLight.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/resources/fonts/metropolis/Metropolis-LightItalic.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/resources/fonts/metropolis/Metropolis-BlackItalic.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/resources/fonts/metropolis/Metropolis-BoldItalic.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/resources/fonts/metropolis/Metropolis-Thin.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/resources/fonts/metropolis/Metropolis-MediumItalic.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/resources/fonts/metropolis/Metropolis-Black.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/resources/fonts/metropolis/Metropolis-Light.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/resources/fonts/metropolis/Metropolis-Medium.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Semi';
    src: url('/resources/fonts/metropolis/Metropolis-SemiBold.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/resources/fonts/metropolis/Metropolis-RegularItalic.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis Extra';
    src: url('/resources/fonts/metropolis/Metropolis-ExtraBold.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/resources/fonts/metropolis/Metropolis-Bold.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Extra';
    src: url('/resources/fonts/metropolis/Metropolis-ExtraLightItalic.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/resources/fonts/metropolis/Metropolis-ThinItalic.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis Semi';
    src: url('/resources/fonts/metropolis/Metropolis-SemiBoldItalic.woff2') format('woff2'),
        url('/resources/fonts/metropolis/Metropolis-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

$mdc-typography-font-family: "Metropolis", unquote("sans-serif");

@import "./themes/light.scss";
@import "./themes/dark.scss";

@import "@material/list/mdc-list";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/textfield/mdc-text-field";
@import "@material/fab/mdc-fab";
@import "@material/select/mdc-select";
@import "@material/tab/mdc-tab";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";


.mdc-text-field {
    @include mdc-text-field-ink-color(var(--mdc-theme-text-primary-on-background, #343434));
    @include mdc-text-field-label-color(var(--mdc-theme-text-primary-on-background, #343434));
    @include mdc-text-field-shape-radius(0);
    height: 64px;

    input, textarea {
        background-color: whitesmoke;
    }    

    &.mdc-text-field--disabled {
        .mdc-text-field__input {
            color: var(--mdc-theme-text-disabled-on-light);
        }
        .mdc-floating-label {
            color: var(--mdc-theme-text-disabled-on-light);
        }
    }
}

.mdc-select {
    @include mdc-select-ink-color(var(--mdc-theme-text-primary-on-background, #343434));
    @include mdc-select-label-color(var(--mdc-theme-text-primary-on-background, #343434));
    @include mdc-select-shape-radius(0);
    @include mdc-select-focused-label-color(var(--mdc-theme-primary));
    height: 64px;

    select {
        height: 64px;
    }
}

.mdc-text-field:not(.mdc-text-field--disabled) + .mdc-text-field-helper-line .mdc-text-field-helper-text {
    color: var(--mdc-theme-text-secondary-on-light);
}

.mdc-card {
    @include mdc-card-shape-radius(0);
}

.mdc-text-field--textarea .mdc-text-field__input {
    padding-top: 8px;
    margin-top: 0;
}

.mdc-list-divider {
    margin: 8px 0;
}


/* ---------------------------------------------------------
    Reset 
--------------------------------------------------------- */

*:focus {
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;

    &:hover {
        background: none;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow:  0 0 0px 1000px var(--mdc-theme-background) inset !important;
    -webkit-text-fill-color: var(--mdc-theme-text-primary-on-background) !important;
    border-bottom-color: #0392FF !important;
}

fieldset {
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

.mdc-list-item__meta {
    fill: var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

.mdc-list-item__graphic {
    position: relative;
}

.star {
    fill: #fdd835;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__icon {
    fill: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
    color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}

.mdc-checkbox__checkmark {
    color: var(--mdc-theme-on-secondary);
}

/* ---------------------------------------------------------
    Styling 
--------------------------------------------------------- */

::-webkit-scrollbar {
    height: 16px;
    width: 16px;
    overflow: visible;
}

::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    min-height: 28px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px inset, rgba(0, 0, 0, 0.07) 0px -1px 0px inset;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-width: 1px 1px 1px 6px;
    padding: 100px 0px 0px;
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-width: 0px 0px 0px 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(218, 220, 224);
    box-shadow: none;
    border-style: solid;
    border-color: transparent;
    border-width: 4px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #80868B;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    margin: 0px 4px;
}

[data-mdc-tooltip] {
    position: relative;
    display: inline-block;
    
    &:before {
        content: attr(data-mdc-tooltip);
        position: absolute;
        bottom: -35px;
        left: 50%;
        padding: 8px;
        transform: translateX(-50%) scale(0);
        transition: transform 0.2s ease-in-out;
        transform-origin: top;
  
        background: #616161e6;
        color: white;
        border-radius: 2px;
        font-size: 12px;
        font-family: Roboto,sans-serif;
        font-weight: 400;
    }
    
    &:hover:before {
        transform: translateX(-50%) scale(1); 
    }
    
    &.mdc-tooltip--right {
        &:before {
            left: auto;
            right: -10px;
            bottom: auto;
            top: 50%;
            transform: translate(100%, -50%) scale(0);
            transform-origin: left center; 
        }
  
        &:hover:before {
            transform: translate(100%, -50%) scale(1);
        }
    }
    
    &.mdc-tooltip--left {
        &:before {
            left: -15px;
            right: auto;
            bottom: auto;
            top: 50%;
            transform: translate(-100%, -50%) scale(0);
            transform-origin: right center; 
        }
  
        &:hover:before {
            transform: translate(-100%, -50%) scale(1);
        }
    }
    
    &.mdc-tooltip-disabled {
        &:before {
            display: none; 
        }
    }
}
  
.mdc-tooltip--top {
    &:before {
        top: -35px;
        bottom: auto;
        transform: translateX(-50%) scale(0);
        transform-origin: bottom center; 
    } 
}

html, body {
    background-color: var(--mdc-theme-background, #fff);
    color: var(--mdc-theme-text-primary-on-background, #000);
}

body {
    overflow: hidden;
}

.mdc-top-app-bar {
    @include mdc-top-app-bar-ink-color(var(--mdc-theme-text-primary-on-surface));      
    
    position: relative;
    background: var(--mdc-theme-surface);
}

:root[data-theme="dark"] {
    .mdc-top-app-bar {        
        @include mdc-top-app-bar-icon-ink-color(#f2f2f2);
    }
}

#app {
    overflow: hidden;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
    z-index: 1;
}

#page {
    display: grid;
    grid-template-columns: 168px 1fr;
    box-sizing: border-box;
    min-height: 0;
    max-width: 100vw;
}

#rail-navigation {
    box-sizing: border-box;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-row-gap: 48px;
        justify-items: center;

        li {
            svg {
                width: 32px;
                height: 32px;
            }

            a {
                color: var(--mdc-theme-text-hint-on-background); 
                fill: var(--mdc-theme-text-hint-on-background);
                display: grid;
                justify-items: center;
                font-size: 14px;
                grid-row-gap: 8px;
            }

            a.active {
                color: var(--mdc-theme-text-primary-on-background); 
                fill: var(--mdc-theme-text-primary-on-background);
            }
        }
    }
}

main {
    padding: 0 168px 32px 16px;
    overflow: overlay;
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
}

.mdc-snackbar {
    bottom: 138px;
}

// Lists

.mdc-list-group__subheader {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--mdc-theme-text-icon-on-background);
    font-weight: 500;
}

.mdc-list-item__text, .mdc-list-item__primary-text {
    font-weight: 600;
    font-size: 0.875rem;
    opacity: 1;
}

.mdc-list-item__secondary-text {
    font-size: 0.785rem;
}

.mdc-list--highlight .mdc-list-item__graphic * {
    position: relative;
    z-index: 1;
}

.mdc-list--highlight .mdc-list-item__graphic::after {
    content: "";
    opacity: 0.1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--mdc-theme-text-primary-on-background);
    z-index: 0;
}

.mdc-list--with-chip .mdc-list-item {
    height: 80px;
}

.mdc-list--three-line .mdc-list-item {
    height: 108px;
}

.mdc-list--three-line .mdc-list-item__text {
    align-self: center;
}

.mdc-list-chip {
    color: var(--mdc-theme-text-icon-on-background, rgba(0, 0, 0, 0.38));
    border-radius: 12px;
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 12px;
    padding: 0 8px;
    font-weight: normal;
}

.mdc-list-chip::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--mdc-theme-text-primary-on-background);
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 12px;
}

button.reset {
    display: contents;
    height: 72px;
    color: inherit;
    padding: 0;
    width: inherit;
    text-align: inherit;
}

.overdue {
    color: var(--mdc-theme-error, #f44336);
    fill: var(--mdc-theme-error, #f44336);
}

.mdc-list-item__graphic.overdue::after {
    background-color: var(--mdc-theme-error);
}

.completed {
    color: #1F8D3E;
    fill: #1F8D3E;
}

.mdc-list-item__graphic.completed::after {
    background-color: #1F8D3E;
}

.mdc-list--linked a:not(.mdc-list-item__graphic):not(.mdc-list-item__meta) {
    color: var(--mdc-theme-text-primary-on-background, #343434);
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mdc-list--linked:not(.mdc-list--avatar-list) a:first-child {
    width: 100%;
    height: 100%;
}

.mdc-list--linked.mdc-list--avatar-list a:nth-child(2) {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.mdc-list--stepper > li .mdc-list-stepper-line--before {
    position: absolute;
    bottom: 3.125rem;
    left: 50%;
    width: .0625rem;
    height: 100%;
    background-color: var(--mdc-theme-text-icon-on-background);
    transition: all .4s;
}

.mdc-list--stepper > li:not(:last-of-type) .mdc-list-stepper-line--after {
    position: absolute;
    top: 3.125rem;
    left: 50%;
    width: .0625rem;
    height: 100%;
    background-color: var(--mdc-theme-text-icon-on-background);
    transition: all .4s;
}

.mdc-list-stepper--current {
    .mdc-list-item__graphic::after {
        background-color: var(--mdc-theme-primary);
        opacity: 1;
    }

    .mdc-list-item__graphic {
        color: var(--mdc-theme-on-primary);
        fill: var(--mdc-theme-on-primary);
    }
}

.mdc-fab {
    position: absolute;
    bottom: 34px;
    right: 40px;
    z-index: 5000;
}

.mdc-fab--secondary {
    background-color: var(--mdc-theme-surface);
    color: var(--mdc-theme-on-surface);
}


// Forms

.form-field:not(:last-of-type) {
    margin-bottom: 24px;
}

.form-field--with-helper:not(:last-of-type) {
    margin-bottom: 16px;
}

.mdc-text-field--textarea {
    width: 100%;
    height: 100px;
}

#title-and-due {
    display: grid;
    grid-template-columns: 323px 232px;
    grid-column-gap: 24px;
}

// login page

section#login {
    max-width: 480px;
    padding: 32px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;

    form {
        display: grid;
    }

    button[type='submit'] {
        margin-top: 32px;
        width: 140px;
        justify-self: end;
        border-radius: 18px;
    }
}

#triangle {
    background: linear-gradient(to right, #94103e, #db004d);
    display: block;
    height: 1400px;
    left: 0;
    top: 50%;
    position: absolute;
    width: 100%;
    z-index: 0;
    transform: skewY(36deg);
    transform-origin: bottom left;
}

#triangle2 {
    background: linear-gradient(to right, #94103e, #db004d);
    display: block;
    height: 1400px;
    right: 0;
    top: -1401px;
    position: absolute;
    width: 60%;
    z-index: 0;
    transform: skewY(-147deg);
    transform-origin: bottom left;
}

#login-theme-switcher {
    position: absolute;
    right: 24px;
    top: 16px;
    color: var(--mdc-theme-text-primary-on-background);
    fill: var(--mdc-theme-text-primary-on-background);
    z-index: 1;
}

.mdc-tab-indicator {
    left: auto;
    width: 50%;

    .mdc-tab-indicator__content--underline {
        height: 3px;
        border-radius: 0 0 3px 3px;
    }
}

.mdc-tab-bar--top {
    .mdc-tab-indicator {
        .mdc-tab-indicator__content--underline {
            border-radius: 3px 3px 0 0;
        }
    }
}


#bottom-navigation {
    display: none;
    background-color: var(--mdc-theme-surface); 
    width: 100vw;

    .mdc-tab--stacked {
        height: 64px;
    }

    .mdc-tab__icon {
        padding-top: 8px;
    }


    .mdc-tab-indicator {
        height: auto;
    }

    .mdc-tab--stacked .mdc-tab__text-label {
        padding-bottom: 10px;
    }
}

.mdc-tab__text-label {
    text-transform: none;
    font-size: 13px;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field-character-counter, 
.mdc-text-field:not(.mdc-text-field--disabled) + .mdc-text-field-helper-line .mdc-text-field-character-counter {
    color: var(--mdc-theme-text-secondary-on-light);
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    main {
        padding : 0;
    }

    .content {
        padding-bottom: 80px;
    }
  
    #rail-navigation {
        display: none;
    }

    #page {
        grid-template-columns: 1fr;
    }

    .mdc-fab {
        bottom: 80px;
        right: 16px;
    }

    .mdc-fab--secondary {
        bottom: 152px;
    }

    #bottom-navigation {
        display: block;
    }

    .mdc-text-field {
        width: 100%;
    }
}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
@media (min-width: 320px) and (max-width: 480px) {

    main {
        padding : 0;
    }

    .content {
        padding-bottom: 80px;
    }
    
    #rail-navigation {
        display: none;
    }

    #page {
        grid-template-columns: 1fr;
    }

    .mdc-fab {
        bottom: 80px;
        right: 16px;
    }

    .mdc-fab--secondary {
        bottom: 152px;
    }

    #bottom-navigation {
        display: block;
    }

    .mdc-text-field {
        width: 100%;
    }
}


// Wizard

footer.mdc-wizard {
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    padding: 0; 
    background-color: var(--mdc-theme-background);
    display: flex;
    position: relative;
    overflow: hidden;
}
    
.mdc-wizard__section {
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    min-width: 0;
    z-index: 1;
    height: 100%;
}
  
.mdc-wizard__section--align-start {
    justify-content: flex-start;
    order: -1;
}
  
.mdc-wizard__section--align-end {
    justify-content: flex-end;
    order: 1;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    color: #444;
    font-size: 1rem;
    line-height: 1.5;
}

.slider {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
}

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
}

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
}

.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.slider__image {
    font-size: 11rem;
    color: #2196F3;
}

.slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.slider__txt {
    color: #999;
    margin-bottom: 3rem;
    max-width: 300px;
}

@-webkit-keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

@keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}
