@import "@material/tab/mdc-tab";
@import "@material/top-app-bar/mdc-top-app-bar";

:root[data-theme="light"] {
    --mdc-theme-primary: #EA4C62;
    --mdc-theme-secondary: #343434;
    --mdc-theme-background: #F3F9FF;
    --mdc-theme-surface: #fff;
    --mdc-theme-error: #f44336;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #fff;
    --mdc-theme-on-surface: #343434;
    --mdc-theme-on-error: #fff;
    --mdc-theme-text-primary-on-background: #343434;
    --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-light: #343434;
    --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);    
    --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-dark: white;
    --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);

    .mdc-top-app-bar {
        
        @include mdc-top-app-bar-icon-ink-color(#fff);
        @include mdc-top-app-bar-ink-color(var(--mdc-theme-on-primary));      
    
        position: relative;
        background: var(--mdc-theme-primary);
        

        .mdc-tab-bar {
            @include mdc-tab-text-label-color(#fff);
            @include mdc-tab-icon-color(#fff);
            @include mdc-tab-states-color(#fff);

            .mdc-tab-indicator .mdc-tab-indicator__content--underline {
                border-color: #fff;
            }
        }
    }

    .mdc-text-field, .mdc-select {
        input, textarea, select {
            background-color: #e9eff5;
        }    
    }

    .mdc-list--linked.mdc-list--avatar-list a:nth-child(2) {
        border-bottom: 1px solid #dbe1e7;
    }
}